{{ clean_file_name(author) }}.md

{%
        set search_params = urlencode(
            {
                "utf8": "✓",
                "q": author,
                "search_type": "books",
                "search[field]": "author",
            }
        )
-%}
[{{author}}](https://www.goodreads.com/search?{{search_params}})

#book/author

