{{ clean_file_name(author) }} - {{ clean_file_name(book.title) }}.md

[[{{ clean_file_name(author) }}]]: [{{ book.title }}](https://www.goodreads.com/book/show/{{ book.book_id }})
ISBN{{ book.isbn }} (ISBN13{{ book.isbn13 }})
{%- if book.series %}
{% for series in book.series -%}
[[{{ series.file_link }}]]]{{ "" if loop.last else " "}}
{%- endfor -%}
{% endif %}

{{ book.review }}

[Search in Calibre](calibre://search/_?{{ urlencode({"q": book.title}) }})

{{ " ".join(book.tags) }}

