{{ clean_file_name(book.author) }} - {{ clean_file_name(series) }} - series.md

{%
        set search_params = urlencode(
            {
                "utf8": "✓",
                "q": series + ", #",
                "search_type": "books",
                "search[field]": "title",
            }
        )
-%}
[[{{ clean_file_name(book.author) }}]]
[{{ series }}](https://www.goodreads.com/search?{{ search_params }})
