# dependencies list to build requirements.dev.txt with pip-compile (from pip-tools package)
# docs
lazydocs
mkdocs
mkdocs-awesome-pages-plugin
mkdocs-material
pymdown-extensions

# lint
pre-commit
pylint
mypy

# test
pytest
pytest-asyncio
pytest-cov
coveralls

# build
twine
pip-tools

